@use "../../foundation/system" as s;
@use "../../foundation/mixin" as m;

.p-home {
    background-color: green;
    @include s.breakpoint(tablet) {
    }
    @include s.breakpoint(pc) {
    }
    p {
        text-align: center;
        padding: 20px 0;
    }
}
